body{
	background: #fff;
	font-size: 18px;
}

a {
    color: #17aeea;
    font-family: 'Josefin Sans', sans-serif;
}

.detailpage a{
	color:#9c931e;
	text-decoration:underline;
}

h1,h2,h3,h4,h5,h6{
	text-shadow: none;
}

h5{
	letter-spacing: 0.2em
}

ul{
	list-style: none;
}



input{
	font-family: 'Josefin Sans', sans-serif;
}
/* #top-bar  */


nav a,.introductionindex a,.sidenav a{

	 font-weight: bold;
	 letter-spacing:0.2em;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;

}


nav a:hover, nav a:focus, nav a:active,
.sidenav a:hover,.sidenav a:focus,.sidenav a:active {

   -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

.introductionindex a:hover,.introductionindex a:focus,.introductionindex a:active,
.sidenav a:hover,.sidenav a:focus,.sidenav a:active {
   -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
  text-decoration:none;
}


#top-bar .icon-bar{
	 background-color: #17aeea;
}
#top-bar .navbar-nav > li > a:hover {
     background: transparent;
}

#top-bar.animated-header {
  padding: 20px 0;
  background: #ffffff;
  box-shadow: none;
}
#logo img{
	width: 50px;

}

.navbar-header .navbar-brand {
	 padding: 0 0;
}

.navbar-header .navbar-brand a {
	 height: auto;
	 display: inline-block;
}

.dropdown-menu a{
	text-decoration:none;
}

.dropdown-menu {
    border: 1px solid rgba(255, 255, 255, 0);
}

li.community-link{
    margin-left: 1em;
}

li.community-link a{
	float: left;
	padding-top: 0.5em;
	color:#eade34;
}

li.community-link a:hover{
	color:#d4ba36;
}


/* #top-bar end  */

#searchbar{

	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 9999;

}

#searchbar .form-control{

	border: 1px solid #ffffff;
	border-radius:0px;
	-webkit-box-shadow:none;
	box-shadow: none;
	height: 44px;

}

#searchbar .btn{
	background-color: #17aeea;
	color: #fff;
	border: none;
	border-radius:0px;
	padding-top:9px;
	padding-left:12px;
}

#searchbar .input-group{
	background-color: #fff;
	border: 5px solid #17aeea;
}

.videoplay{
	margin-top: -2em;
}
.videoplay video{
	width: 100%;
}
/*.index-slogin*/

.index-slogin h2,.index-slogin2 h2,.index-slogin3 h2{
	color: #2885ab;
}


section.visible-xs-block{
	text-align: center;
}

.index-sloginfix{
	text-align:left;
	letter-spacing: 0.7em;
	color: #2885ab; 
}



.index-sloginfix-small{
	text-align: left;
    padding: 3em 2em;
    letter-spacing: 0.2em;
    margin-top: 90px;
   
}

.index-sloginfix-small h4{
	line-height: 1.5em;
}

.index-sloginfix-small+img{
	margin-bottom: 2em;
}


.index-img-xs{
	width: 50%;
}


.avatar{
	width: 150px;
	margin: 2em 0;
	border: 2px solid #b3b3b3;
}

.saying{
	font-family: 'Josefin Sans', sans-serif;
	text-align: right;
	margin: 9em 10em 3em 10em;
}

.saying h3{
	text-align: center;
	color: #17aeea;
	margin-bottom:2em;
	line-height: 2em;
}

.saying h5{
	color: #8e8e8e;
	margin-bottom:3em;
	letter-spacing: 0.5em;
	line-height: 1.5em;
}

.saying h4{
	color: #8e8e8e;
	letter-spacing: 0.5em;
}

.saying p:last-child{
	font-weight: bold;
	font-style: italic;
}

.link{
	margin-top: 2em;
    margin-bottom: 5em;
}

.introductionindex{
	/*padding-right: 15em;*/
	margin-top: 2em;
	margin-bottom: 3em;
	text-align:right;
}

.introductionindex p{
	margin-bottom: 2em;
	
}

/*.introductionindex h5{
	letter-spacing: 0.2em;
}*/

/*.introductionindex a{
	margin-top: 1em;

}*/

/*.introduction{
	padding: 2em 1em;
    margin-top: 2.5em;
}*/

/*.introduction+a{
	margin-right: 4em;
}*/


.title{
	font-family: 'Josefin Sans', sans-serif;
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    color: #777777;

}

.link{
	margin-top: 2em;
	margin-bottom: 2em;
}
/*hover效果*/
/*先把照片位置固定凸出的地方hidden*/
figure .img-wrapper {
  position: relative;
  overflow: hidden;
}

/*about img*/
/*先呈現變形的狀態,先把transition的時間軸寫起來,hover的時候只要寫transform就好
-webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  先寫的意義在於
  移開滑鼠的也要流暢的進行縮放
*/
figure img {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
}

figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}


/*about 黑幕*/

figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: rgba(23, 174, 234, 0.9);
  /*移開時便成透明度0*/
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

figure .overlay a {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em; 
  	width: 100%;
    display: inline-block;
    color: #fff;
    line-height: 3em;
    border: 2px solid #eade34;
    border-radius: 0px;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

figure:hover .overlay {
  opacity: 1;
}

figure:hover .overlay .buttons a {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

figure .overlay a:hover {
  text-decoration: none;
}

figure .overlay:hover a {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

figure .buttons {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 60%;
}

/*.app figure .buttons {
    position: absolute;
    top: 70%;
    left:-10%;
}*/

figure figcaption {
  padding: 20px 25px;
  margin-top: 0;
  color: #666;
}

figure figcaption h4 {
  margin: 0;
}

figure figcaption h4 a {
  color: #02bdd5;
}

figure figcaption p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
}

/* /hover效果*/

footer{
	padding-top:60px;
	padding-bottom:60px;
	background-color: #f9f9f9;
}

.contactmethod{
	padding-left: 0px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.contactmethod li{
	flex: 1 1 100px;
	text-align: center;
}

.contactmethod li .fa{
	color: #17aeea;
	margin-right: 20px;
}

.contactmethod li span{
	letter-spacing: 5px;
}

.contactmethod .col-sm-3.col-xs-3{
	text-align: center;
}

.contactmethod .row{
	margin-bottom: 1em;
	display:flex;
    align-items:center;
}

.contactmethod .fa-mobile{
	font-size: 34px;
}

.contactmethod .fa-envelope-o{
	font-size: 22px;
}

.lineicon{
	width: 26px;
}

.message{
	padding: 0em 0em 0em 4em;
	font-family: 'Josefin Sans', sans-serif;
}

.message h3{
	color: #17aeea;
	margin-top: 0px;
}

.form-control{
	height: 50px;
	border: 3px solid #eade34;
    border-radius: 0px;
}

.form-control.mail{
	width: 70%;
}

.btn{
	border-radius: 0px;
	padding: 12px 12px;
}

.btn-default {
    color: #ffffff;
    background-color: #17aeea;
    border-color:#17aeea;
    width: 70%;
    margin-top: 1em;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 0px transparent;
  position: relative;
  overflow: hidden;
  background: #17aeea;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #17aeea;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn:hover, .btn:focus, .btn:active {
  color: white;
  border-color:#17aeea;
}
.btn:hover:before, .btn:focus:before, .btn:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/*detail*/

.detailpage{
	text-align: center;
}

.detailpage .part{
	margin-bottom:50px;
}

.detailpage .part img{
	width: 40%;
}

.detailpage ol{
	width: 90%;
	margin: 0px auto;
	text-align: left;
}

.detailpage ol li{
	color: #545454;
}



img.full{
	width: 100%;
	margin-top: 4em;
}

.detaillogo{
	margin-top: 6em;
}

.detaillogo img{
	width: 30%;
}

.detaillogo img.small{
	width: 110px;
}

.detaillogo img.full{
	width: 100%;
}


.detailpage h3{
	margin: 1em auto;
	letter-spacing: 5px;
}

.detailpage h4{
	margin: 1em 2em;
	line-height: 2em;
    text-align: center;
    letter-spacing: 0.5em;
}

.detailpage h4.learn{
	text-align: left;
}

.detailpage h5{
	margin: 2em auto;
}

.detailpage p{
    padding: 1em 1em;
    line-height: 2.5em;
    color: #545454;
    letter-spacing: 0.2em;
    text-align: justify;
}

.detailpage b{
    color: #1490c1;
}

.detailpage ol{
	
}

.detailpage li{
	margin-top: 1em;
	letter-spacing: 0.3em;
	font-style: bold;
	color: #1490c1;
}

.detailpage img.incontent{
	width: 1.5em;
	display: inline;
}

.dropdown-menu ul{
	padding-right: 1em;
}

.errorpage{
	margin: 7em 5em; 
}

.aboutme{
	margin-top: 5em;
	margin-bottom: 5em;
}

.aboutme section{
	display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.aboutme section .photo{
	margin-right: 40px;
}

.aboutme section .aboutCon{
	letter-spacing: 5px;
}

.aboutme section .aboutCon h4{
	line-height: 1.5;
}


.sidenav{
	z-index: 99;
	position:fixed;
	left:1.5em;
	top:8em;
	max-width: 20%;
}

.sidenav li{
	margin: 2em 0.2em;
}

.sidenav h5{
	line-height: 1.5em;
}



@media (max-width: 767px) {

		
        /* #top-bar  */

		.navbar-nav>li>a:not(.col-xs-3) {
		    padding-top: 15px;
		    padding-bottom: 15px;
		}
        
        .dropdown-menu li{
			margin-top: 1em;
		}	

		.navbar-header .navbar-brand {
		  	padding: 0 20px;
		}

		.navbar-nav li a:not(.col-xs-3){
			padding-left: 10%;
		}

		.community-link.row{
			margin-top: 1em;
			margin-right: 0px;
			margin-left:  0px;
		}

		.container>.navbar-header{
		    margin-right: 0px;
		}
		
		/* #top-bar end  */
		.introduction{
			padding-bottom:0.1em; 
		}

		.saying{
		text-align: right;
		margin: 1.5em 0.5em 1.5em 0.5em;
		}

		.saying h3{
		text-align: center;
		color: #17aeea;
		margin-bottom:2em;
		line-height: 1.5em;
		}

		.saying h5{
		color: ##7b7b7b;
		margin-bottom:3em;
		letter-spacing: 0.5em;
		}

		.saying p:last-child{
		font-weight: bold;
		font-style: italic;
		}

		.introductionindex{

	        padding: 0em 3em;
			margin-top: 0em;
			text-align:center;
		}

		.introductionindex p{
			margin-bottom: 2em;
		}

		.contactmethod .col-sm-3.col-xs-3{
			text-align: center;
		}

		.introductionindex h5{
			line-height: 1.5em;
		}

		.message{
			padding: 2em;
		}

		.btn-default {
		    width: 80%;
		}

		#logo img{
		width: 40px;
		}

		/*MissQ*/
		.detaillogo{
			text-align: center;
			margin-top: 6em;
		}

		.detaillogo img{
			width: 60%;
		}

		.detailpage p{
		    padding: 1em 5em;
		}

		.detailpage ol{
			 /* padding: 1em 7em; */
			 width: 90%;
		}

		.detailpage h4{
			margin: 0.5em 0.5em;
		}

		.design .img-wrapper img{
			width:100%;
		}

		img.vi-xs{
		    margin: 0em auto;
    		width: 60%;
		}

		.detaillogo img.small{
			width: 100px;
		}

		.errorpage{
			margin: 5em 1em; 
		}

		.aboutme{
			margin-top: 2em;
			margin-bottom: 2em;
		}

		.aboutme .avatar{
			width: 100px;
		}

		.aboutme section .aboutCon{
			flex: 1 1 100%;
		}

		.contactmethod{
			flex-flow: column nowrap;
			align-items: flex-start;
			margin-left: 20px;
		}
		.contactmethod li{
			text-align: left;
		}

		.contactmethod li span{
			display: block;
			letter-spacing: 3px;
		}
  }

/*實際上要寫在這裡才會發動,不然要改格線系統範圍*/
  @media (max-width: 320px){

	figure .buttons {
	    position: absolute;
	    top: 30%;
	    left: 20%;
	    width: 60%;
	   }
	#logo img{
		width: 30px;
		margin-top: 11px;
	   }

	.detaillogo img{
	width: 80%;
		}

	.detailpage p{
	padding: 1em 0.8em;
	line-height: 2em;
	}

	.index-sloginfix-small{
		display: none;
	}

	.index-sloginfix-small+img{
		margin-top: 90px;
	}

	img.vi-xs{
    margin: 0em auto;
	width: 80%;
	}

			.detaillogo img.small{
			width: 80px;
		}



}

  @media (min-width: 768px) {
		.dropdown-menu li{
			margin-top: 1.5em;
		}

		.dropdown-menu li:last-child {
			margin-bottom: 1em;
		}

		li.community-link a:nth-child(3){
			padding-left: 22px;
		}

		.index-slogin{
		width: 40%;
		position:absolute;
		top:-6em;
		}

		.index-slogin2{
			width: 40%;
			position:absolute;
			top:-6em;
			left: 9em;
		}

		.index-slogin3{
		width: 50%;
		position:absolute;
		top:-1em;
		}

		.index-sloginfix{
		position: fixed;
		top: 20vh;
		}

		.index-sloginfix h3{
	padding: 0em 2em 0em 5em;
	}


  }

  @media (min-width: 992px) {

 .index-slogin{
	width: 40%;
	position:absolute;
	top:-12em;
	}

	.index-slogin2{
		width: 40%;
		position:absolute;
		top:-12em;
		left: 9em;
	}

	.index-slogin3{
	width: 50%;
	position:absolute;
	top:-8em;
	}

	.index-sloginfix{
	position:fixed;
	top: 30vh;
	}

	.index-sloginfix h3{
	padding: 0em 2em 0em 7em;
	}



  }

  @media (min-width: 1200px) {
  	.index-slogin{
	width: 40%;
	position:absolute;
	top:-15em;
	}

	.index-slogin2{
		width: 40%;
		position:absolute;
		top:-15em;
		left: 9em;
	}

	.index-slogin3{
	width: 50%;
	position:absolute;
	top:-13em;
	}

	.index-sloginfix{
	position: fixed;;
	top: 40vh;
	}

	.index-sloginfix h3{
	padding: 0em 2em 0em 8.5em;
	}


	 
  }